services:
  k8s-viewer:
    image: soygonzalodeniz/app-edugitops:1.0
    build: .
    container_name: flask_k8s_local
    # Host network para ver Minikube sin problemas de IP
    network_mode: host 
    
    environment:
      - PORT=5001
      - FLASK_ENV=development
      - PYTHONPATH=/app/src

    volumes:
      # Configuración de Kubernetes (apunta a minikube o eks según tu contexto local)
      - ${HOME}/.kube:/root/.kube
      # Certificados de Minikube (Ruta espejo para evitar error de rutas absolutas)
      - ${HOME}/.minikube:${HOME}/.minikube
      # Código en caliente
      - ./src:/app/src