# Recurso ConfigMap en Kubernetes llamado grafana-datasource dentro del namespace {{ .Values.namespace }}.
# El ConfigMap contiene la configuración de la fuente de datos para Grafana en la clave datasource.yml.
# Esta configuración indica que Grafana debe conectarse a Prometheus
# (usando la URL http://prometheus-service.{{ .Values.namespace }}.svc:9090) como fuente de datos principal
# (isDefault: true) mediante acceso tipo proxy.

apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-configmap
  namespace: {{ .Values.namespace }}
data:
  datasource.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service.{{ .Values.namespace }}.svc:9090
        isDefault: true
