apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  labels:
    app: grafana
data:
  grafana.ini: |
    [server]
    http_port = 3000
    [auth.anonymous]
    enabled = false
    [analytics]
    reporting_enabled = false
