{{- if has "grafana" .Values.apps }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-configmap
  namespace: {{ .Values.nombre }}
data:
  datasource.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service.{{ .Values.nombre }}.svc:9090
        isDefault: true
{{- end }}
