{{- if .Values.grafana.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    app: grafana
data:
  grafana.ini: |
    [server]
    http_port = 3000
    [auth.anonymous]
    enabled = false
    [analytics]
    reporting_enabled = false
{{- end }}
