{{- if eq (include "monitoring.boolEnabled" .Values.prometheus.enabled) "true" }}
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    app: prometheus
spec:
  type: ClusterIP
  selector:
    app: prometheus
  ports:
    - name: web
      port: {{ .Values.prometheus.service.port }}
      targetPort: 9090
{{- end }}
